*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*
html{
    
    font-size: 62,5%;  
 }
 
.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 100px;
    margin: 10px;
}
.menu-icon{
    margin-left: auto;
    margin:35px;
    display: block;
    width: 40px;
    height: 40px;
background-color: orange;
border-radius: 5px;
cursor: pointer;
}
.nav{
    opacity: 0.8;
    position: absolute;
    top: 110px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu-desplegable{
    list-style: none;
    padding: 0;
    margin:0;
}
.menu-desplegable a{
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    display: block;
    padding: 15px;
    background:orange;
    text-decoration: none;
    color: black;
}
.menu-desplegable a:hover{
    background: white;
    color:rgb(12, 12, 11);
    
}
.mostrar{
    left: 0;
}
.main-container{
width: 100%;
margin-top: 60px;
background:rgb(230, 228, 224);
padding: 20px;
margin: 60 auto;

}
.copas{
    display: flex;
   
    margin: auto;
    align-items: center;
    justify-content: center;
}
.copas video{
    width: 100%;
    max-width: 380px;
   border-radius: 15px;
    height: 200px;
    
}
.imagenes-section{
    display: flex;
   
    justify-content: center;
    margin: auto;
}
.imagenes-section img{
    width: 50%;
    height: 150px;
    max-width: 200px;
    border-radius: 9px;
    margin-top: 5px;
    padding: 3px;
}
.main-container h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 30px;
}
.main-container h3{
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
.main-container h2{
    letter-spacing: 3px;
    border-radius: 10px;
    background: rgba(94, 79, 32, 0.705);
    color: black;
    font-size: 2rem;
    font-family:'Pacifico', cursive;
    text-align: center;
}
.menu-carta{
    display: flex;
    width: 90%;
    max-width: 600px;
    height: auto;
   justify-content: center;
    padding: 30px;
    margin: auto;
}
.menu-carta img{
    width: 120px;
    height: 120px;
    margin-right: 5px;
    border-radius: 20px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.container-flecha{
    width: 90%;
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.flecha{
    width: 70px; 
}
    
footer{
    
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(109, 100, 100);
    width: 100%;
    height: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.footer-contacto{
    margin-right: 5%;
   
   

}

.footer-rrss ul{
    list-style-type:none;
}
.footer-contacto h3{
   line-height: 50px;
}

    
   

